<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-login-form #form></app-login-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <a type="button" href='http://localhost:9000/store/auth/auth0/cb'>
      Sign in with auth0
    </a> -->
    <ion-button (click)="login()" expand="block" fill="solid">
      Login With Strapi
    </ion-button>
  </ion-toolbar>
</ion-footer>