<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>passwordless</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">passwordless</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="passwordlessForm" (ngSubmit)="onSubmit(passwordlessForm.value)">
    <ion-item>
      <ion-label position="floating" color="primary">
        Username
      </ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message"
          *ngIf="passwordlessForm.get('username').hasError(validation.type) && (passwordlessForm.get('username').dirty || passwordlessForm.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="primary">
        Email
      </ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="passwordlessForm.get('email').hasError(validation.type) && (passwordlessForm.get('email').dirty || passwordlessForm.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon>
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!passwordlessForm.valid">
      Submit data
    </ion-button>
  </form>
</ion-content>
