<ion-header [translucent]="false" collapse="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="app-title">
      {{ 'Goiaba Mobile' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color="primary">
  <ion-header collapse="none">
    <ion-toolbar>
      <ion-card-header>
        <ion-card-subtitle> {{ 'WELCOME' | translate }} </ion-card-subtitle>
        <ion-card-title class="app-font">
          {{ 'Goiaba Mobile' | translate }}
        </ion-card-title>
      </ion-card-header>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="top-row">
      <ion-slides [options]="slideOpts" mode="ios" pager="ios" scrollbar="ios">
        <ion-slide *ngFor="let item of bannerImages">
          <ion-img [src]="item.attributes.formats.small?.url"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <!-- <ion-col>
        <ion-button color="primary" expand="block" fill="solid" shape="round" (click)="authPage()">
          {{ 'Login' | uppercase | translate }}!
        </ion-button>
      </ion-col> -->
      <ion-col>
        <ion-button color="primary" expand="block" fill="solid" shape="round" (click)="profilePage()">
          {{ 'Strapi Profile' | uppercase | translate }}!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>